html {
font-size: 62.5%;
line-height: 1.6rem;
box-sizing: border-box;
scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}

button{
cursor: pointer;
}
ul{
list-style: none;
}
a {
text-decoration: none;
color: var(--primary-text);
}
img {
display: block;
max-width: 100%;
}

